/* Base Styles */

:root {
    --highlight-color: #FFDE59;
    --lighthighlight-color: #fff8dc;

    --black-font-color: #1B1B1B;
    --white-font-color: #ffffff;
    --footer-font-color: rgb(41, 41, 41);

    --primary-color: #265DCC;
    --background-color: #9BBCFF;
    --secondary-bg-color: #E5EEFF;
    --gray-border-color: #7B7B7B;

}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: "100";
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "inter";
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-height: 100vh;
    background-image: url("/assets/mobile/background.png");

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center;
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    text-align: center;
}

.header svg {
    color: var(--primary-color);
}

.bottom-nav-background {

    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url("/assets/mobile/background.png");
    background-size: cover;
    background-position: center;

    z-index: 9;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.2);
}

.bottom-nav {
    margin: 20px 20px;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    z-index: 10;
    overflow: hidden;
    position: fixed;
}



.nav-item {

    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
}

.selected {
    color: var(--primary-color);
}

.nav-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountability-card {
    background-color: #265dcc;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.progress-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    border: 6px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

.view-button {
    background-color: white;
    color: #265dcc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.view-button:hover {
    background-color: #fff8dc;
}

.account-details {
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-row {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--black-font-color);
    padding: 20px 0;
    border-bottom: 1px solid var(--primary-color);
}


.balance {
    color: var(--highlight-color);
    font-weight: bold;
    font-size: 1.2em;
}
