/* Base Styles */

:root {
    --highlight-color: #FFDE59;
    --lighthighlight-color: #fff8dc;

    --black-font-color: #1B1B1B;
    --white-font-color: #ffffff;
    --footer-font-color: rgb(41, 41, 41);

    --primary-color: #265DCC;
    --background-color: #9BBCFF;
    --secondary-bg-color: #E5EEFF;
    --gray-border-color: #7B7B7B;

}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: "100";
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "inter";
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-height: 100vh;
    background-image: url("/assets/mobile/background.png");

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center;
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    text-align: center;
}

.header svg {
    color: var(--primary-color);
}

.bottom-nav-background {

    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url("/assets/mobile/background.png");
    background-size: cover;
    background-position: center;

    z-index: 9;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.2);
}

.bottom-nav {
    margin: 20px 20px;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    z-index: 10;
    overflow: hidden;
    position: fixed;
}



.nav-item {

    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
}

.selected {
    color: var(--primary-color);
}

.nav-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grades-card {
    text-align: center;
    background-color: #265DCC;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.general-average {
    font-size: 1.5rem;
}

.quarter-scores {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.quarter-scores a {
    text-decoration: none;
}

.quarter {
    color: var(--white-font-color);
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.highlight{
    color: var(--primary-color);
    background-color: var(--white-font-color);
    border-radius: 20px;
    padding: 10px 20px;
}

.subject-grades {
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subject-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #E5EEFF;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    body {
        background-image: url("/assets/desktop/background.png");
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        padding: 20px;
    }

    .header {
        grid-column: span 2;
        justify-content: space-around;
        padding: 10px 40px;
        border-bottom: 2px solid var(--gray-border-color);
    }

    .bottom-nav {
        width: 60%;
        position: static;
        margin: 20px auto 0;
    }

    section {
        padding: 40px;
        justify-content: flex-start;
    }

    .card-container {
        max-width: 600px;
        padding: 20px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-content {
        font-size: 1rem;
    }

    .bottom-nav-background {
        width: 50px;
        height: 100vh;
        background: linear-gradient(#265DCC, #e0e0e0);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .bottom-nav {
        margin: 0;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        border-radius: 20px 0 0 20px;
        padding: 20px 0;
        z-index: 10;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 768px) {
    body {
        background-image: url("/assets/desktop/background.png");
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        padding: 20px;
    }

    .header {
        grid-column: span 2;
        justify-content: space-around;
        padding: 10px 40px;
        border-bottom: 2px solid var(--gray-border-color);
    }

    .bottom-nav {
        width: 60%;
        position: static;
        margin: 20px auto 0;
    }

    section {
        padding: 40px;
        justify-content: flex-start;
    }

    .card-container {
        max-width: 600px;
        padding: 20px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-content {
        font-size: 1rem;
    }

    

    .bottom-nav-background {
        width: 50px;
        height: 100vh;
        background: linear-gradient(#265DCC, #e0e0e0);
        position: fixed; 
        right: 0;
        top: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    
    .bottom-nav {
        width: 50px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        border-radius: 20px 0 0 20px;
        padding: 20px 0;
        z-index: 10;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    }
}